<h1 class="lead text-capitalize text-center">Buscando <small class="muted">{{ termino }}</small></h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info">
            No Existen Resultados para la busqueda: {{ termino }}
        </div>
    </div>
</div>
<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
        <!-- <img class="card-img-top" src="{{ heroe.img }}" alt="Card image cap"> -->
        <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text text-justify">{{ heroe.bio }}</p>
            <!-- <button class="btn btn-outline-primary btn-block mb-2">Ver Mas...</button> -->
            <p class="card-text"><small class="text-muted text-center">{{ heroe.aparicion }}</small></p>

            <button (click)="verHeroe(i)" class="btn btn-outline-primary btn-block">
           Ver Mas..,
        </button>
            <!-- <a [routerLink]="['/heroe', i]"> Ver Mas</a> -->
        </div>
    </div>
</div>